<!--<div class="example-button-row center ">-->
<!--  <button mat-button [routerLink]="['/home']">BACK</button>-->
<!--</div>-->
<p class="h3 button4 text-danger shadow" style="margin-left: 42%;"> 
  <i class="fas fa-tasks icon icon-shape bg-danger text-white rounded-circle shadow" style="padding-right:0.50em;"></i>
  Airline Management
</p>
<div id="lists" style="display: flex;">

  <div id="list_one" style="display: flex;">
    <h2 style="font-family: Times New Roman;"> Month: </h2>
    <mat-form-field appearance="outline">
        <mat-label>Select a Month</mat-label>
        <mat-select [(value)]="selectedMonth" (selectionChange)="changeClient($event)">
          <mat-option *ngFor="let month of months" [value]="month.id" >
            {{month.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select a month here
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="google.com">Action</a>
          <a class="dropdown-item" href="google.com">Another action</a>
          <a class="dropdown-item" href="google.com">Something else here</a>
        </div>
      </div> -->
      

  </div>
<div id="list_two" style="display: flex;">
  <h2 style="font-family: Times New Roman;">Number of airports: </h2>
  <mat-form-field appearance="outline">
    <mat-label>Select Number of Airports</mat-label>
    <mat-select [(value)]="selectedAirport" (selectionChange)="changeClient($event)">
      <mat-option *ngFor="let airport of airports" [value]="airport.id">
        {{airport.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!-- 
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select number of airports
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="google.com">Action</a>
    <a class="dropdown-item" href="google.com">Another action</a>
    <a class="dropdown-item" href="google.com">Something else here</a>
  </div>
</div> -->


</div>
  <div *ngIf=showGraph class="container">
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              >
      </canvas>
    </div>
</div>

