#lists {

    position: relative;
    width: 40%;
    display:inline-block
   }
   
   #list_one {
    width: 50%;
   
    float:left;
   }
   
   #list_two {
    width: 50%;
   
    position: relative;
    float:right;
   }