#lists {

    position: relative;
//     width: 40%;
    font-family: Times New Roman;
//     display:inline-block
   }

   #list_one {
//     width: 50%;
    font-family: Times New Roman;
    padding-right:0.80em;
//     float:left;
   }

   #list_two {
//     width: 50%;
    font-family: Times New Roman;
    padding-left:1.50em;
//     position: relative;
//     float:right;
   }

h2 {
    font-family: Times New Roman;
    font-size: 16px;
    padding-right:0.80em;

  }

  .h3 {
    font-family: Times New Roman;
    font-size: 20px;
    // background: cornflowerblue;
    // color: white;
    // margin-left: 43%;
  }

  .button4{
    display:inline-block;
    padding:0.3em 1.2em;
    // margin-left: 41%;
    // margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    // border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    font-family: Times New Roman;
    color: black;
    // border-color: #0dcae3;
    // background-color:#f5f5f5;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    // text-align:center;
    transition: all 0.2s;
  }
  .button4:hover{
    border-color: #e30d1f;
  }
  @media all and (max-width:30em){
    .button4{
      display:block;
      margin:0.2em auto;
    }
  }
  
  .icon {
    width: 1.6rem;
    height: 1.6rem;
  }
  
  .icon i {
    font-size: 2.25rem;
  }
  
  .icon-shape {
    display: inline-flex;
    padding: 12px;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }
  
  .icon-shape i {
    font-size: 1.00rem;
  }