<!--<div class="example-button-row center ">-->
<!--  <button mat-button [routerLink]="['/home']">BACK</button>-->
<!--</div>-->
<p class="h3 button4 text-danger shadow" style="margin-left: 42%;"> 
  <i class="fas fa-plane icon icon-shape bg-danger text-white rounded-circle shadow" style="padding-right:0.50em;"></i>
  Flight Frequency
</p>

<form class="example-form" style="display: flex; ">
  <h2>Choose State Name: </h2>
    <input type="text" style="padding-left: 20px;"
           placeholder="Click to Choose a State"
           [(ngModel)] = "staename"
           [formControl]="control"
           matInput
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelFunc($event)">
      <mat-option *ngFor="let street of filteredStreets | async"  [value]="street" >
        {{street}}
      </mat-option>
    </mat-autocomplete>
  </form>
  <div *ngIf=showGraph  class="container">
        <div style="display: block">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
          </canvas>
        </div>
  </div>

