<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="../assets/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
<!--  <script src="https://your-site-or-cdn.com/fontawesome/v6.0.0-beta3/js/all.js" data-auto-replace-svg="nest"></script>-->
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>

</head>
<div  >
  <div class="header " style="margin-bottom: 1%;">
    <div>
      <p style="color: white; font-family: Times New Roman; font-size: 25px; ">
        <i class="fas fa-home fa-xs" style="color: white;" [routerLink]="['/home']"></i>
        <i class="fas fa-plane fa-xs" style="color: white; padding-left: 0.5em; " [routerLink]="['/flight-frequency']" title="Flight Frequency"></i>
        <i class="fas fa-angle-double-up fa-xs" style="color: white; padding-left: 0.5em;" [routerLink]="['/airline-performance']" title="Airline Performance"></i>
        <i class="fas fa-chart-bar fa-xs" style="color: white; padding-left: 0.5em;" [routerLink]="['/covid-analysis']" title="Covid Analysis"></i>
        <i class="fas fa-tasks fa-xs" style="color: white; padding-left: 0.5em;" [routerLink]="['/airline-management']" title="Airline Management"></i>
        <i class="fas fa-ambulance fa-xs" style="color: white; padding-left: 0.5em; margin-right: 28%;" [routerLink]="['/covid-impact']" title="Covid Impact"></i>
        Covid-19 Airline Analysis
      </p>
      <!-- <p style="color: white; font-family: Times New Roman; font-size: 25px; ">
      </p> -->
      
    </div>
    <!--        &lt;!&ndash; <nav>-->
    <!--            <a routerLink="/home" routerLinkActive="active">Home</a>-->
    <!--            <a routerLink="/about" routerLinkActive="active">About</a>-->
    <!--        </nav> &ndash;&gt;-->
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer" style="position:fixed; bottom:0; width:100%;">
  </div>
</div>
