
.container{
    width: 100%;
    height: 100%;
    display: flex;
    padding-right: 0px;
    padding-left: 0px;
    flex-direction: column;
  }
  .header{
    flex-shrink: 0;
    flex-grow: 0;
    background: #26529a;
    padding: 20px 20px;
    // height: 50px;
    width: 100%;
    z-index: 2;
  }
  .content{
    flex-shrink: 1;
    flex-grow: 1;
    padding: 3px 5px;
    position: relative;
    overflow-y: auto;
  }

  .footer{
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    background: #26529a;
    padding: 20px 20px;
    z-index: 2;
  }
  p {
    font-family: Lato;
  }

  nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
  }

  nav a:visited, a:link {
    color: #607D8B;
  }
  nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
  }
  nav a.active {
    color: #039be5;
  }

  .center-title {
    text-align: center;
  }

