<!--<div class="flex-container container" style="margin-top:50px">-->
<!--  <div class="spanpage">-->
<!--    <div class="sidebar-left clearfix">-->
<!--      <div class="example-button-row center ">-->
<!--        <button class="button4"  mat-button [routerLink]="['/flight-frequency']">Flight Frequencies</button>-->
<!--        <button class="button4"  mat-button [routerLink]="['/airline-performance']">Airline Performance</button>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="map-div clearfix center">-->
<!--      <div><app-chart></app-chart></div>-->
<!--      <div class="example-button-row center ">-->
<!--        <button class="button4"  mat-button [routerLink]="['/covid-impact']">Covid Impact</button>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="sidebar-right clearfix">-->
<!--      <div class="example-button-row center ">-->
<!--        <button class="button4"  mat-button [routerLink]="['/airline-management']">Airline Management</button>-->
<!--        <button class="button4"  mat-button [routerLink]="['/covid-analysis']">Covid Analysis</button>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->



<!-- <div class="main-content"> -->
  <!-- <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8"> -->
      <!-- <h2 class="mb-5 text-white">Stats Card</h2> -->
      <div class="header-body" style="margin-left: 12%;  z-index: 3;">
        <div class="row">
          <div class="col-xl-2 col-lg-4">
            <div class="card card-stats mb-3 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Total</h5>
                    <span class="h6 font-weight-bold mb-0"> 
                           {{total_count | number}}                 
                    </span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-th"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-4">
            <div class="card card-stats mb-3 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h6 class="card-title text-uppercase text-muted mb-0">Airlines</h6>
                    <span class="h6 font-weight-bold mb-0">
                      {{totals.get('AIRLINE_COMPANY') | number}}  
                    </span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fab fa-telegram-plane"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Arrival</h5>
                    <span class="h6 font-weight-bold mb-0">
                      {{totals.get('ARRIVAL') | number}}  
                    </span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fab fa-telegram-plane fa-flip-vertical"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-4">
            <div class="card card-stats mb-3 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Covid-19 Case</h5>
                    <span class="h6 font-weight-bold mb-0">
                      {{totals.get('COVID_19_CASE') | number}}  
                    </span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-first-aid"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-4">
            <div class="card card-stats mb-3 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Vaccinations</h5>
                    <span class="h6 font-weight-bold mb-0">
                      {{totals.get('COVID_19_VACCINATION') | number}}  
                    </span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-syringe"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
          
          <!-- <div _ngcontent-jwf-c109="" class="col-xl-3 col-lg-6"><div _ngcontent-jwf-c109="" class="card card-stats mb-4 mb-xl-0"><div _ngcontent-jwf-c109="" class="card-body"><div _ngcontent-jwf-c109="" class="row"><div _ngcontent-jwf-c109="" class="col"><h5 _ngcontent-jwf-c109="" class="card-title text-uppercase text-muted mb-0">New users</h5><span _ngcontent-jwf-c109="" class="h2 font-weight-bold mb-0">2,356</span></div><div _ngcontent-jwf-c109="" class="col-auto"><div _ngcontent-jwf-c109="" class="icon icon-shape bg-warning text-white rounded-circle shadow"><i _ngcontent-jwf-c109="" class="fas fa-chart-pie"></i></div></div></div><p _ngcontent-jwf-c109="" class="mt-3 mb-0 text-muted text-sm"><span _ngcontent-jwf-c109="" class="text-danger mr-2"><i _ngcontent-jwf-c109="" class="fas fa-arrow-down"></i> 3.48%</span><span _ngcontent-jwf-c109="" class="text-nowrap">Since last week</span></p></div></div></div> -->
        </div>
      </div>
    <!-- </div> -->
  <!-- </div> -->



<div class="container-fluid">
  <div class="row" style="margin-top: 20px;">
    <div class="col-sm-6 text-center">
      <button class="button4" mat-button [routerLink]="['/flight-frequency']">
        <i class="fa fa-plane" aria-hidden="true"></i>
        Flight Frequencies
      </button>
    </div>
    <div class="col-sm-6 text-center">
      <button class="button4" style="margin-left: 30px;" mat-button [routerLink]="['/airline-management']">

        <i class="fas fa-tasks"></i>
        Airline Management
      </button>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 70px;">
  <div class="col-sm-2">
    <button class="button4" style="margin-left: 20px; margin-top: 80px;" mat-button
            [routerLink]="['/airline-performance']">
      <i class="fas fa-angle-double-up"></i>
      Airline Performance
    </button>

  </div>
  <div class="col-sm-8">
    <app-chart>
    </app-chart>

  </div>
  <div class="col-sm-2">
    <button class="button4" style="margin-top: 80px;" mat-button [routerLink]="['/covid-analysis']">
      <i class="fas fa-chart-bar"></i>
      Covid Analysis
    </button>

  </div>
</div>
<div style="margin-top: 2%; margin-left: 45%;">
  <div class="row">
    <div class="col-6 ">
      <button class="button4 " mat-button [routerLink]="['/covid-impact']">
         <i class="fas fa-ambulance"></i>
        Covid Impact
      </button>
    </div>
  </div>
</div>


<div class="header-body" style="margin-left: 12%; margin-bottom: 3%; margin-top: 1%;">
  <div class="row">
    <div class="col-xl-2 col-lg-4">
      <div class="card card-stats mb-3 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Dates</h5>
              <span class="h6 font-weight-bold mb-0">
                {{totals.get('DATES') | number}} 
              </span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                <i class="far fa-calendar-alt"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-4">
      <div class="card card-stats mb-3 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Flights</h5>
              <span class="h6 font-weight-bold mb-0">
                {{totals.get('FLIGHTS') | number}} 
              </span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                <i class="fas fa-fighter-jet"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-6">
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Locations</h5>
              <span class="h6 font-weight-bold mb-0">
                {{totals.get('LOCATIONS') | number}}  
              </span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                <i class="fas fa-map-marker-alt"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-4">
      <div class="card card-stats mb-3 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">States</h5>
              <span class="h6 font-weight-bold mb-0">
                {{totals.get('STATE') | number}}  
              </span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                <i class="far fa-flag"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-4">
      <div class="card card-stats mb-3 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Travelers</h5>
              <span class="h6 font-weight-bold mb-0">
                {{totals.get('TRAVELER_THROUGHPUT') | number}}
              </span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                <i class="fas fa-street-view"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- <div _ngcontent-jwf-c109="" class="col-xl-3 col-lg-6"><div _ngcontent-jwf-c109="" class="card card-stats mb-4 mb-xl-0"><div _ngcontent-jwf-c109="" class="card-body"><div _ngcontent-jwf-c109="" class="row"><div _ngcontent-jwf-c109="" class="col"><h5 _ngcontent-jwf-c109="" class="card-title text-uppercase text-muted mb-0">New users</h5><span _ngcontent-jwf-c109="" class="h2 font-weight-bold mb-0">2,356</span></div><div _ngcontent-jwf-c109="" class="col-auto"><div _ngcontent-jwf-c109="" class="icon icon-shape bg-warning text-white rounded-circle shadow"><i _ngcontent-jwf-c109="" class="fas fa-chart-pie"></i></div></div></div><p _ngcontent-jwf-c109="" class="mt-3 mb-0 text-muted text-sm"><span _ngcontent-jwf-c109="" class="text-danger mr-2"><i _ngcontent-jwf-c109="" class="fas fa-arrow-down"></i> 3.48%</span><span _ngcontent-jwf-c109="" class="text-nowrap">Since last week</span></p></div></div></div> -->
  </div>
</div>