<div class="container">
 <h1>Trend Analysis of U.S. aviation during covid-19 pandemic </h1>
{{resultData | json}}

  <us-map fillStateColor = "red">
   
</us-map>
<div style="display: block;">
    <canvas baseChart width="10" height="4"
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      [plugins]="lineChartPlugins">
    </canvas>
  </div>
  
</div>